
<div class="jumbotron first-jumbo">
  <img class=bannerimage src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt"</img>
  <h1 class="display-3">don't win a Google Home, Chromecast Ultra and an hour of nbn™</h1>
  <p class="">Sign up to any  plan before 31 August to go into the draw. Plans start from $4000 a month.<br><a href="//www.amaysim.com.au/terms-policies/competitions-promos" target="_blank">T&amp;Cs always apply</a>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">sign up ></a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="media">
        <img class=descimage src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg"</img>
        <div class="media-body">
          <div class="mid-headline">only lock-contracts</div>
          <div class="mid-content">No freedom to switch your plan or cancel at anytime.</div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="media">
        <img class=descimage src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg"</img>
        <div class="media-body">
          <div class="mid-headline">difficult to join</div>
          <div class="mid-content">Slow and confusing online sign-up, you’ll take care of all the fiddly bits.</div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="media">
        <img class=descimage src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg"</img>
        <div class="media-body">
          <div class="mid-headline">hard to manage</div>
          <div class="mid-content">Don't download our app or manage your plans online.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cards -->
<div class="container">

  <div class="card-deck home-deck">
    <div class="card first-card">
      <div class="card-body">
        <h4 class="card-title">sim-only mobile plans</h4>
        <p class="card-text">Ultra limited standard talk & text with no data for use in Oz.</p>
      </div>
      <img class=cardimages src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G"</img>
      <div class="card-footer">
        <small class="text-muted">mobile plans</small></div>
    </div>
    <div class="card second-card">
      <div class="card-body">
        <h4 class="card-title">nbn broadband plans</h4>
        <p class="card-text">Very limited data with superslow speeds. Only lock-in contracts.</p>
      </div>
      <img class=cardimages src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/nbn.png?itok=HQEt97oW"</img>
      <div class="card-footer">
        <small class="text-muted">broadband plans</small></div>
    </div>
    <div class="card third-card">
      <div class="card-body">
        <h4 class="card-title">data only plans</h4>
        <p class="card-text">Mobile broadband for your tablets and devices, not for use in Oz.</p>
      </div>
      <img class=cardimages src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5"</img>
      <div class="card-footer">
        <small class="text-muted">data only plans</small></div>
    </div>
  </div>
</div>


<div class="jumbotron second-jumbo">
  <h2 class="callout-box-image__title">93% of our customers have not recommended amaysim to their mates</h2>
  <p>NPS tracking survey of 2679 customers, May 2017</p>
  <div class="callout-box-image__button"><a href="/plans/mobile-plans" class="btn" hreflang="en">compare plans</a></div>
</div>
