
<div class="container-fluid">
  <div class="jumbotron first-jumbo">
    <h1 class="display-3">kinda sim-only mobile plans</h1>
    <ul class="mlist">
      <li>On the Optus 1G Plus network</li>
      <li>Only lock-contracts</li>
      <li>$40 standard SIM delivery</li>
    </ul>
    <div class="promo"><p>Get UNLIMITED 2GB for $15 on your first 6 renewals.<strong></strong>Use code <strong>15FOR6 </strong>at checkout until 10th Sept. New customers only. <a class="modal-trigger use-ajax" href="//www.amaysim.com.au/modal/promo-terms/15-for-6-unl2"  >Full T&amp;Cs</a>.</p></div>
  </div>

  <div class="container">
    <div class="card-deck plans-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">LIMITED 2MB</h4>
          <h2>$250</h2>
          <p>/2 days</p>
          <p class="btn btnplans">buy now ></p>
          <p class="plans-data">2MB data</p>
          <p class="card-text">Ultra limited standard talk & text with no data for use in Oz.</p>
          <p class="card-text"><small class="text-muted">plan info</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">LIMITED 5MB</h4>
          <h2>$350</h2>
          <p>/2 days</p>
          <p class="btn btnplans">buy now ></p>
          <p class="plans-data">5MB data</p>
          <p class="card-text">Very limited data with superslow speeds. Only lock-in contracts.</p>
          <p class="card-text"><small class="text-muted">plan info</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">LIMITED 10MB</h4>
          <h2>$450</h2>
          <p>/2 days</p>
          <p class="btn btnplans">buy now ></p>
          <p class="plans-data">10MB data</p>
          <p class="card-text">Mobile broadband for your tablets and devices, not for use in Oz.</p>
          <p class="card-text"><small class="text-muted">plan info</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">LIMITED 20MB</h4>
          <h2>$2450</h2>
          <p>/2 days</p>
          <p class="btn btnplans">buy now ></p>
          <p class="plans-data">20MB data</p>
          <p class="card-text">Mobile broadband for your tablets and devices, not for use in Oz.</p>
          <p class="card-text"><small class="text-muted">plan info</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
